<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appStrings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    <section name="appTemplates" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="extSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
  </configSections>
  <appSettings>
    <add key="VICS_DEV" value="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.15.147.90)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=ORCL)));User ID=VICS;Password=123456;" />
    <add key="VICS_HOME" value="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=WIN2K8-ORACLE)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=ORCL)));User ID=VICS;Password=123456;" />
    <add key="MHS" value="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.15.20.46)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=MHS)));User ID=MHS;Password=123456;" />
  </appSettings>
  <appStrings>
    <add key="OutputFolder" value="D:\GiangMy\Project\FPT-FSE\Projects\MHS\OutGen">
    </add>
    <add key="ProjectName" value="MHS">
    </add>
    <add key="Package" value="DANH_MUC">
    </add>
    <add key="DataAccessBase" value="">
    </add>
    <add key="FormBase" value="PageBase">
    </add>
    <add key="ControlBase" value="DotNetNuke.PortalModuleControl">
    </add>
  </appStrings>
  <appTemplates>
    <add key="Package" value="FilePath=~\\xslt\DBScripts.xslt;OutputExt=.sql;OutputSubFolder=DBScripts;GroupFile=false">
    </add>
    <add key="VB Info Class" value="FilePath=~\\xslt\InfoClass.xslt;OutputExt=_Info.vb;OutputSubFolder=InfoClass;GroupFile=false">
    </add>
    <add key="Business Object" value="FilePath=~\\xslt\BusinessObject.xslt;OutputExt=_BO.vb;OutputSubFolder=BusinessObject;GroupFile=false">
    </add>
    <add key="DataAccess" value="FilePath=~\\xslt\DataAccess.xslt;OutputExt=_DAO.vb;OutputSubFolder=DataAccess;GroupFile=false">
    </add>
    <add key="Web Form" value="FilePath=~\\xslt\WebForm.xslt;OutputExt=_DAO.vb;OutputSubFolder=Web;GroupFile=true">
    </add>
    <add key="AuditBase" value="FilePath=~\\xslt\Audit.xslt;OutputExt=.vb;OutputSubFolder=Audit;GroupFile=false">
    </add>
  </appTemplates>
  <extSettings>
    <add key="author" value="Nguyễn Đăng Tùng">
    </add>
  </extSettings>
</configuration>