<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appStrings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    <section name="appTemplates" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="extSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
  </configSections>
  <appSettings>
    <add key="CIS" value="Provider=sqloledb;Data Source=hqsvr;Initial Catalog=CIS;User Id=sa;Password=123456;">
    </add>
    <add key="DTCBL" value="Provider=sqloledb;Data Source=(local);Initial Catalog=DTCBL;User Id=sa;Password=sa;">
    </add>
    <add key="VietTel" value="Provider=msdaora;Data Source=VIETTEL;User Id=viettel;Password=viettel;">
    </add>
    <add key="FTS" value="Provider=sqloledb;Data Source=FIS5-HUNGHM;Initial Catalog=Viettel;User Id=sa;Password=sa;">
    </add>
    <add key="KDT" value="Provider=msdaora;Data Source=KDT;User Id=binhh;Password=binhh;">
    </add>
  </appSettings>
  <appStrings>
    <add key="OutputFolder" value="D:\CIS\temp">
    </add>
    <add key="ProjectName" value="DotNetNuke">
    </add>
    <add key="Package" value="DANH_MUC">
    </add>
    <add key="DataAccessBase" value="">
    </add>
    <add key="FormBase" value="PageBase">
    </add>
    <add key="ControlBase" value="DotNetNuke.PortalModuleControl">
    </add>
  </appStrings>
  <appTemplates>
    <add key="Stored Procedure" value="FilePath=~\\xslt\DBScripts.xslt;OutputExt=.sql;OutputSubFolder=DBScripts;GroupFile=false">
    </add>
    <add key="VB Info Class" value="FilePath=~\\xslt\InfoClass.xslt;OutputExt=_Info.vb;OutputSubFolder=D:\Project\CIS\SOURCE\ClassInfo\DanhMuc;GroupFile=false">
    </add>
    <add key="Business Object" value="FilePath=~\\xslt\CIS_DM_BusinessObject.xslt;OutputExt=_BO.vb;OutputSubFolder=D:\Project\CIS\SOURCE\BusinessObject\DanhMuc;GroupFile=false">
    </add>
    <add key="DataAccess" value="FilePath=~\\xslt\DataAccess.xslt;OutputExt=_DAO.vb;OutputSubFolder=D:\Project\CIS\SOURCE\DataAccess\DanhMuc;GroupFile=false">
    </add>
    <add key="Web Control" value="FilePath=~\\xslt\CIS_DM_ascx.xslt;OutputExt=_List.ascx;OutputSubFolder=D:\Project\CIS\SOURCE\WEBUI\Controls;GroupFile=true">
    </add>
    <add key="Web Control Design" value="FilePath=~\\xslt\CIS_DM_ascx_designer_vb.xslt;OutputExt=_List.ascx.designer.vb;OutputSubFolder=D:\Project\CIS\SOURCE\WEBUI\Controls;GroupFile=true">
    </add>
    <add key="Web Control Code" value="FilePath=~\\xslt\CIS_DM_ascx_vb.xslt;OutputExt=_List.ascx.vb;OutputSubFolder=D:\Project\CIS\SOURCE\WEBUI\Controls;GroupFile=true">
    </add>
    <add key="Web Control Popup" value="FilePath=~\\xslt\CIS_DM_Popup_ascx.xslt;OutputExt=_Popup.ascx;OutputSubFolder=D:\Project\CIS\SOURCE\WEBUI\Controls;GroupFile=true">
    </add>
    <add key="Web Control Design Popup" value="FilePath=~\\xslt\CIS_DM_Popup_ascx_designer_vb.xslt;OutputExt=_Popup.ascx.designer.vb;OutputSubFolder=D:\Project\CIS\SOURCE\WEBUI\Controls;GroupFile=true">
    </add>
    <add key="Web Control Code Popup" value="FilePath=~\\xslt\CIS_DM_Popup_ascx_vb.xslt;OutputExt=_Popup.ascx.vb;OutputSubFolder=D:\Project\CIS\SOURCE\WEBUI\Controls;GroupFile=true">
    </add>
  </appTemplates>
  <extSettings>
    <add key="author" value="Nguyen Le Toan">
    </add>
  </extSettings>
</configuration>