<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appStrings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    <section name="appTemplates" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="extSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
  </configSections>
  <appSettings>
    <add key="ORA_VICS" value="Provider=MSDAORA;Data Source=WIN2K8-ORACLE/ORCL;User Id=vics;Password=123456;"></add>
    <!--<add key="ORA_VICS_DEV" value="Provider=msdaora;Data Source=ECSTEMP;User Id=ECSTEMP;Password=ECSTEMP;">
    </add>-->
    <add key="ORA_DEV" value="Provider=MSDAORA;Data Source=10.15.20.94/ORCL;User Id=vics;Password=123456;">
    </add>
  <add key="BITCOIN" value="Provider=sqloledb;Data Source=.\SQL2012;Initial Catalog=LIFE_BETTER_TUNG; User Id=sa;Password=123456;">
    </add>
  </appSettings>
  <appStrings>
    <add key="OutputFolder" value="C:\Temp">
    </add>
    <add key="ProjectName" value="CIS">
    </add>
    <add key="Package" value="DANH_MUC">
    </add>
    <add key="DataAccessBase" value="">
    </add>
    <add key="FormBase" value="PageBase">
    </add>
    <add key="ControlBase" value="DotNetNuke.PortalModuleControl">
    </add>
  </appStrings>
  <appTemplates>
    <add key="DataAccess" value="FilePath=xslt\VICS.DataAccess_ver2.xslt;OutputExt=_DAO.vb;OutputSubFolder=DataAccess;GroupFile=false;Selected=true" />
    <!--<add key="DataClass" value="FilePath=xslt\InfoClass.xslt;OutputExt=_Info.vb;OutputSubFolder=DataClass;GroupFile=false;Selected=true" />
    <add key="DataAccess" value="FilePath=xslt\DataAccess.xslt;OutputExt=_DAO.vb;OutputSubFolder=DataAccess;GroupFile=false;Selected=true" />
    <add key="DBScripts" value="FilePath=xslt\DBScripts.xslt;OutputExt=.sql;OutputSubFolder=DBScripts;GroupFile=false;Selected=true" />
    <add key="DataProcess" value="FilePath=xslt\DataProcess.xslt;OutputExt=.vb;OutputSubFolder=DataProcess;GroupFile=false;Selected=true" />-->
  </appTemplates>
  <extSettings>
    <add key="author" value="Tran Phong Chau">
    </add>
  </extSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>